.layout {
  background-color: #061d12;

  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;

  
}

.todo-container {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  margin-top: 30px;

  font-size: 50px;
  line-height: 1.1;
  margin: 1px;
  padding-right: 790px;
  color: whitesmoke;
}


/* 입력 폼 */
.todo-form {
  background-color: #506111;
  color: white;
  padding: 0 20px 0 20px;
  margin: 30px 0 30px 0;
  display:ruby-text;
}

h2 {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 35px;
  margin-left: 15px;
}

.todo-form input {
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
}

.todo-form button {
  display: block;
  margin: 5px;
  padding: 0.5rem 1rem;
  background-color: #90283c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* 할 일 목록 */
.todo-list {
  background-color: #232549;
  color: whitesmoke;
  width: 71%;
  margin-bottom: 20px;
  padding: 40px;
  border: 1px solid #ccc;
}

.todo-list h2 {
 padding-right: 75%; 
}

.todo-item {
  color: whitesmoke;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  flex-wrap: flex;
}

.todo-item h3 {
  margin: 0;
}

.todo-item p {
  margin: 0.5rem 0;
}

.todo-item button {
  padding: 7px;
  background-color: #90283c;
  color: wheat;
  border-radius: 5px;
  cursor: pointer;
  margin: 2px;
}

.todo-item button.delete {
  background-color: #f44336;
}
